{% extends 'market/base.html' %}
{% load static %} 

{% block title %} Add product | {% endblock %} 


{% block content %} 
<div class="text-center py-3">
    <h2>Add new product</h2>
</div>

<form method="post" action="." enctype="multipart/form-data" class="d-flex justify-content-center pb-5">
    {% csrf_token %}
    <div class="col-lg-8 col-md-10 col-sm-12 form-color p-3 rounded-3">
        <div class="mb-3">
            <label for="id-name-input" class="form-label">Name of product</label>
            <input type="text" class="form-control" id="id-name-input" name="name" maxlength="255" required>
        </div>
        <div class="mb-3">
            <label for="id-cost-input" class="form-label">Cost in $</label>
            <input type="number" step="0.01" min="0" class="form-control" id="id-cost-input" name="cost" required>
            <div class="form-text">Нundredths precision. Can't be negative</div>
        </div>
        <div class="mb-3">
            <label for="id-amount">Choose amount:</label>

            <select name="amount" id="id-amount" required>
                <option value="">--Please choose an option--</option>
                <option value="kilo">kilo</option>
                <option value="100 gr">100 gr</option>
                <option value="500 gr">500 gr</option>
                <option value="200 ml">200 ml</option>
                <option value="500ml">500ml</option>
                <option value="3 liter">3 liter</option>
                <option value="piece">piece</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="id-type">Product type</label>
            <select name="type" id="id-type" required>
                <option value="">--Please choose an option--</option>
                <option value="food">food</option>
                <option value="drinks">drinks</option>
                <option value="other">other</option>
            </select>
            <div class="form-text">Not more than 31 symbol</div>
        </div>
        <div class="mb-3">
            <label for="file-input" class="form-label">Product image</label>
            <input type="file" class="form-control" id="file-input" name="image" accept=".jpg,.jpeg,.png" required>
            <div class="form-text">Suported extensions: .jpg, .jpeg, .png. Should be 350 height and 450 width</div>
        </div>
        {% if errors %}
            {% for error in errors %}
                <div class="p-2 mb-2 rounded-pill bg-danger text-white">
                    <p>{{ error|escape }}</p>
                </div>
            {% endfor %} 
        {% endif %}
        <button class="border-0 px-4 py-2 rounded-pill text-white submit_form form-but">Submit</button>
    </div>
</form>

{% endblock %} 


{% block footer %} Add product {% endblock %}

